<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>725185804438-3b34b3mkfba15egfjbul8i61atfhvtud.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.725185804438-3b34b3mkfba15egfjbul8i61atfhvtud</string>
	<key>API_KEY</key>
	<string>AIzaSyCjCD0o350YCtbOu65BkRbyu1NyNnUwTJs</string>
	<key>GCM_SENDER_ID</key>
	<string>725185804438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>il.org.havruta</string>
	<key>PROJECT_ID</key>
	<string>havruta-jce</string>
	<key>STORAGE_BUCKET</key>
	<string>havruta-jce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:725185804438:ios:0c23a1877d5d8094662ab7</string>
</dict>
</plist>